<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.ksoichiro.uishowcase">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/ic_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".CoachMarkActivity"
            android:label="@string/activity_coach_mark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.github.ksoichiro.uishowcase" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmptyDataActivity"
            android:label="@string/activity_empty_data">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.github.ksoichiro.uishowcase" />
            </intent-filter>
        </activity>
    </application>

</manifest>
